{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if entry %}
        {{ slug }}
    {% else %}
        Error
    {% endif %}
{% endblock %}

{% block body %}
    <h1>Search</h1>
    {% if search_result %}
        <h2>
            No exact match
        </h2>
        <p>There are no exact matches for <em><b>{{ q }}</b></em>. entry. Possible entries include; </p>
        <ul>
            {% for entry in search_result %}
                <li><a href="{% url 'single-entry' entry %}">{{ entry }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>
            No result
        </h2>
        <p>
            There is no entry matching <em><b>{{ q }}</b></em>.
        </p>
    {% endif %}

{% endblock %}