{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if entry %}
        {{ slug }}
    {% else %}
        Error
    {% endif %}
{% endblock %}

{% block body %}
    {% if entry %}    
        {{ entry|safe }}
        <div>
            <button>
                <a href="{% url 'edit-entry' slug %}">Edit</a>
            </button>
        </div>
    {% else %}
        <h2>
            Error
        </h2>
        <p>
            The requested page, <em><b>{{ slug }}</b></em>, was not found.
        </p>
    {% endif %}

{% endblock %}